<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create Blog</a>
<span th:text="${msg}" style="color: blue"></span>
<table border="1">
    <tr>
        <td>No</td>
        <td>Content</td>
        <td>Auther</td>
        <td>Edit</td>
        <td>Show</td>
        <td>Delete</td>
    </tr>
    <tr th:each="b,loop : ${blog}">
        <td th:text="${loop.count}"></td>
        <td th:text="${b.content}"></td>
        <td th:text="${b.auther}"></td>
        <td><a th:href="@{/edit(id=${b.id})}">Edit</a></td>
        <td><a th:href="@{/show(id=${b.id})}">Show</a></td>
        <td><a th:href="@{/delete(id=${b.id})}">Delete</a></td>

    </tr>
</table>
</body>
</html>