<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<a href="/blog">Back to list</a>
<form th:action="@{/blog/create}" th:object="${blog}" method="post">
    <p>Content</p>
    <input type="text" th:field="*{content}">
    <p>Auther</p>
    <input type="text" th:field="*{auther}">
    <p>Category</p>
    <select th:field="*{category}">
        <option th:each="categoryObj : ${categoryList}"
                th:value="${categoryObj.id}"
                th:text="${categoryObj.name}">
        </option>
    </select>
    <input type="submit" value="create">


</form>
<!--<form action="/create" method="post">-->
<!--    <p>Content</p>-->
<!--    <input type="text" name="content">-->
<!--    <p>Auther</p>-->
<!--    <input type="text" name="auther">-->
<!--    <input type="submit" value="create">-->

<!--</form>-->
</body>
</html>