<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../css/bootstrap.min.js"></script>
    <script src="../../css/jquery-3.6.0.min.js"></script>
    <script src="../../css/popper.min.js"></script>
    <link rel="stylesheet" href="../../css/dataTables.bootstrap.min.css">
    <script src="../../css/dataTables.bootstrap4.min.js"></script>
    <script src="../../css/jquery.dataTables.min.js"></script>


</head>
<body>

</body>
</html>