<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Edit product</h2>


<form action="/product/update" method="post"  th:object="${product}"  novalidate="novalidate">

    <table>
        <tr>
            <td></td>
            <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text"  th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number"  th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text"  th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
        </tr>
        <tr>
            <td><a href="/">Back list</a></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>